{% extends "base.html" %}
{% block content %}

{% include "header.html" %}

<section class="section">
    <div class="container">
        <h1 class="title">Login</h1>
        {% if form.errors %}
        <div class="notification is-danger">
            <button class="delete"></button>
            Your username and password didn't match. Please try again.
        </div>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="field">
                <label class="label">{{ form.username.label }}</label>
                <div class="control has-icons-left has-icons-right">
                    {% if form.username.value %}
                        <input class="input" type="email" name="{{ form.username.html_name }}" value="{{ form.username.value }}">
                    {% else %}
                        <input class="input" type="email" name="{{ form.username.html_name }}">
                    {% endif %}
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.password.label }}</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" name="{{ form.password.html_name }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="buttons">
                        <input class="button is-success" type="submit" value="Login" />
                        <a href="{% url 'password_reset' %}" class="">Forgot password?</a>
                    </div>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <h1 class="title is-4">Not registered? Sign up here</h1>
        <a href="{% url 'register' %}" class="button is-success">Sign up</a>
    </div>
</section>
{% endblock %}
