{% extends "base.html" %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="field">
        <label class="label">{{ form.username.label }}</label>
        <div class="control">
            <input class="input" type="text" name="{{ form.username.html_name }}" value="{{ form.company_name.value }}">
        </div>
        {% if form.username.errors %}
            {% for error in form.username.errors %}
            <p class="help is-danger">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="field">
        <label class="label">{{ form.password.label }}</label>
        <div class="control">
            <input class="input" type="password" name="{{ form.password.html_name }}" value="{{ form.company_name.value }}">
        </div>
        {% if form.password.errors %}
            {% for error in form.password.errors %}
            <p class="help is-danger">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="field">
        <p class="control">
            <input class="button is-success" type="submit" value="login" />
        </p>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
