{% extends "base.html" %}
{% block content %}

{% include "header.html" %}

<section class="section">
    <div class="container">
        <h1 class="title">Enter your new password</h1>
        {% if form.errors %}
        <div class="notification is-danger">
            <button class="delete"></button>
            {% if form.new_password1.errors %}
              {{ form.new_password1.errors }}
            {% endif %}
            {% if form.new_password2.errors %}
              {{ form.new_password2.errors }}
            {% endif %}
        </div>
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="field">
                <label class="label">{{ form.new_password1.label }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="password" name="{{ form.new_password1.html_name }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.new_password2.label }}</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="password" name="{{ form.new_password2.html_name }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="buttons">
                        <input class="button is-success" type="submit" value="Submit" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}