{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form id="loginForm" method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td><label for="username">Username:</label></td>
    <td><input type="text" id="username"></td>
</tr>
<tr>
  <td><label for="password">Password:</label></td>
  <td><input type="password" id="password"></td>
</tr>
</table>

<input type="submit" value="login" />
<input id="nextUrl" type="hidden" name="next" value="{{ request.GET.next }}" />
</form>
<script>
var form = document.getElementById('loginForm');
form.addEventListener('submit', function(event) {
  event.preventDefault();
  console.log(event);
  var username = document.getElementById('username').value;
  var password = document.getElementById('password').value;
  if(username === "" || password === "") {return;}
  var data = { username:username, password:password }
  var oReq = new XMLHttpRequest();
  oReq.addEventListener("load", reqListener);
  oReq.open("POST", "/api-auth/");
  oReq.setRequestHeader('Content-Type', 'application/json');
  oReq.send(JSON.stringify(data));
});
function reqListener () {
  if (this.readyState === XMLHttpRequest.DONE) {
    if (this.status === 200) {
      var nextUrl = document.getElementById('nextUrl').value;
      if(nextUrl === "") {
        window.location = "/";
      } else {
        window.location = nextUrl;
      }
    } else {
      alert('There was a problem with the request.');
    }
  }
}
</script>
{% endblock %}
